@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  /* Colors */
  --color-bright: #d297ff;
  --color-primary: #7b2cbf;
  --color-secondary: #5a189a;
  --color-tertiary: #3c096c;
  --color-quaternary: #240046;
  --color-accent: #160e22;
  --color-accent-dark: #000814;
  --color-dark-gray: #252728;
  --color-gray-medium: #474748;
  --color-bg-card: #161a22;

  /* Spacing */
  --spacing-input-text-x: clamp(1rem, 1.25dvh, 1.25rem);
  --spacing-input-text-y: clamp(0.5rem, 2.75dvw, 0.75rem);
  --spacing-header: 4rem;
  --spacing-main-mobile: calc(100dvh - var(--spacing-header) * 4);
  --spacing-main: calc(100dvh - var(--spacing-header));
  --spacing-width-main: calc(100dvw - var(--spacing-aside));
  --spacing-width-main-active: calc(100dvw - var(--spacing-aside-open));
  --spacing-aside-nav: calc(100dvh - (var(--spacing-header) * 3));
  --spacing-aside: 4rem;
  --spacing-aside-open: 16rem;
  --spacing-image-header: clamp(1.5rem, 5.75dvw, 2.5rem);

  /* Font size */
  --text-title-main: clamp(1.25rem, 12dvw, 4.25rem);
  --text-title: clamp(1.25rem, 10dvw, 2.25rem);
  --text-medium: clamp(0.9375rem, 3.5dvw, 1.15rem);
  --text-header-logo: clamp(1rem, 5.75dvw, 1.75rem);

  /* Animations */
  --animation-fade-in: fade-in 0.3s ease-in-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
  background-color: var(--color-accent);
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-tertiary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

body:has(.overlay-logout-btns),
body:has(.overlay-modal) {
  overflow: hidden;
  scrollbar-gutter: stable;
}

.overlay-modal {
  scrollbar-gutter: stable;

  & .btn-post-card-options {
    display: none;
  }
}

.bg-main-gradient {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: radial-gradient(circle at 50% 50%, var(--color-accent), var(--color-black));
}

.label-text {
  @apply block text-sm font-medium text-gray-300;
}

.input-field-text {
  @apply block w-full rounded-md border border-gray-200 py-input-text-y px-input-text-x text-sm text-white placeholder:text-gray-400 outline-0 transition-colors duration-300 focus:border-primary;
}

.input-field-text-error {
  @apply border-red-500;
}

.btn-primary {
  @apply flex items-center justify-center gap-3 rounded-4xl cursor-pointer bg-primary py-2.5 px-8 text-sm font-medium text-white transition-all duration-300 hover:bg-secondary focus:outline-none;
}

.btn-disabled {
  @apply flex items-center justify-center gap-3 rounded-4xl cursor-not-allowed bg-zinc-800 py-2.5 px-8 text-sm font-medium text-gray-300 opacity-60;
}

.modal-form-register,
.animate-fade-in {
  animation: fade-in 0.3s ease-in-out;
}

.overlay-logout-btns {
  @apply z-99;
}

.main {
  @apply md:w-width-main;
}

.text-glow {
  position: relative;
  z-index: 1;

  &::after {
    content: "Socialex"; 
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    background: linear-gradient(to right, white, var(--color-bright), var(--color-secondary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: blur(12px);
    opacity: 0.7;
  }
}

@media screen and (width >= 48rem) {
  body:has(.aside-active) .main {
    @apply w-width-main-active;
  }
}